# When running via Docker, this environment variable is overriden because containers get their onw private IP address on Docker's virtual network
# This variable is used when Next.js runs directly on local machine without Docker (pnpm dev)
API_INTERNAL_URL=http://127.0.0.1:3001
