.git
.github

node_modules
**/node_modules

dist
**/dist
.next
**/.next
out
**/out
coverage
**/coverage
*.tsbuildinfo
**/*.tsbuildinfo

.env
.env.*
**/.env
**/.env.*

apps/api/src/generated

*.log
*.pem
**/*.pem
.DS_Store
