# A host name or an IP address, such as 127.0.0.1.
HOST=
# An integer from 1 through 65535.
PORT=

# A PostgreSQL URL for API queries.
DB_POOL_URL=
# A PostgreSQL URL for Prisma commands.
DB_DIRECT_URL=
